#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.episode-title{
  box-shadow: 3px 3px #1D0029;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(48, 45, 48, 0.806);
  color: whitesmoke;
 
} 
.episode-title:hover{
  text-decoration: underline;
}
.episode-container{
 background-color: rgb(85, 67, 102);
 color: white;
 width: 300px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px rgb(49, 48, 48);
  border-radius: 10px;
}

.episode-summary{
 line-height: 1.5rem;
 text-align: start;
 margin-left: 1rem;
}

img{
  max-width: 100%;
}